# Example .env file - copy this to .env and make any necessary changes.
# Do not commit secrets to source control!
REDIS_URL=redis://localhost:6379/?decode_responses=True
REDIS_STREAM_KEY=jobs
REDIS_CONSUMER_GROUP=staff
CARBON_INTENSITY_URL=https://api.carbonintensity.org.uk/regional/postcode/OX1
CARBON_INTENSITY_UPDATE_FREQUENCY=60
